/* Fonts */
@font-face {
    font-family: digital;
    src: url(digital-7.ttf);
}

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1340px;
}

/* Styling Clock */
.calBox{
    width: 90vw;
    height: 90vw;
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    position: relative;
}
.calBox h1{
    text-align: center;
    padding: 1.5rem 0;
}
.calculator{
    width: 85%;
    height: 100%;
    background-color: #464646;
    margin: auto;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
    font-size: 1rem;
}
.display{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 88%;
    height: 15%;
    margin: auto;
    margin-top: 10%;
    background-color: #7fad77;
    overflow: hidden;
    font-family: digital;
    
}
span{
    font-size: 2.5em;
    white-space: nowrap;
}
.calBtnBox{
    width: 88%;
    height: 61%;
    margin: auto;
    grid-gap: 2%;
    margin-top: 12%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.calBtn{
    width: 100%;
    height: 100%;
    background: linear-gradient(137deg, black, #363636);
    cursor: default;
    border: 2px solid black;
    border-radius: 8px;
    position: relative;
    box-shadow: -1px -1px 6px 0px #000000a6;
}
.calBtn.calBtn14 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 4;
}
.calBtn.calBtn14 .round{
    height: 90%;
}
.calBtn.calBtn19 {
    background: linear-gradient(137deg, red, #363636);
}
.calBtn.calBtn19:active {
    background: linear-gradient(136deg, #8d0000, #4a0000);
}
.calBtn.calBtn19 .round{
    background: linear-gradient(322deg, red, #4a4a4a);
}
.calBtn.calBtn19:active .round{
    background: linear-gradient(322deg, red, #4a4a4a);
}
.calBtn.calBtn18 {
    background: linear-gradient(137deg, blue, #363636);
}
.calBtn.calBtn18:active {
    background: linear-gradient(136deg, #02008d, #1c004a);
}
.calBtn.calBtn18 .round{
    background: linear-gradient(322deg, blue, #4a4a4a);
}
.calBtn.calBtn18:active .round{
    background: linear-gradient(322deg, blue, #4a4a4a);
}
.calBtn.calBtn14:active .round{
    height: 87% !important;
}
.round{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77%;
    height: 82%;
    font-size: 1.5em;
    position: absolute;
    color: white;
    border-radius: 5px;
    background: linear-gradient(322deg, black, #4a4a4a);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/* Calculator Btn Press */
.calBtn:active{
    background: black;
    box-shadow: -1px -1px 2px 0px #000000a6;
}
.calBtn:active .round{
	width: 70%;
    height: 77%;
    font-size: 1.3em;
    background: linear-gradient(322deg, #1c1c1c, #4a4a4a);
}

/* Utility Classes */
h1{
    font-weight: 600;
}

@media (max-width: 425px){
    .calculator{
        font-size: .5rem;
    }
}